<!--The content below is only a placeholder and can be replaced.-->
<div class="row-container">
  <div class="row-item">
    <h1 class="title">The <span class="title-highlight">{{ title }}</span></h1>
    <h2 class="subtitle">Os heróis mais poderosos da Terra!</h2>
    <button class="access-button" id="conhecer-iniciativa-vingadores">Conhecer a Iniciativa Vingadores</button>
  </div>
  <div class="wrap-image">
    <img id="cover" class="cover" alt="Cover" src="../assets/img/cover-3.png">
  </div>
  
</div>

